<h1>試薬一覧</h1>
<button type="button" class="btn btn-info">Primary</button>

<% if user_signed_in? %>
  <% @reagents.each do |reagent| %>
  <div class="col-md-6"
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">試薬名：<%= reagent.name %></li>
      <li class="list-group-item"><%= image_tag reagent.image_url(:thumb) if reagent.image.present? %></li>
      <li class="list-group-item"><%= reagent.sum if reagent.sum.present? %></li>
      <li class="list-group-item">管理者：<%= reagent.user.name.present? ? "#{reagent.user.name}" : "ID : #{reagent.user.id}" %></li>
      <li class="list-group-item"><%= reagent.location.name if reagent.location.name.present? %></li>
      <li class="list-group-item"><%= l reagent.created_at %></li>
      <li class="list-group-item">
        <%= link_to "詳細", reagent_path(reagent.id) %>
        <%= link_to "編集", edit_reagent_path(reagent.id), method: :get %>
        <%= link_to "削除", reagent_path(reagent.id), method: :delete, data: {confirm: "削除しますか？"} %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </li>
    </ul>
  </div>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
